{% extends "layout.html" %} {% block content %}

<section id="showcase">
  <div class="container">
    <h2>Welcome to NinerNet!</h2>
    <p>
      Here, you can rate and review professors at UNC Charlotte to help your
      fellow students make informed decisions about their courses. Use the
      navigation bar above to register, read reviews, and add your own review.
    </p>
  </div>
</section>

<section id="info">
  <div class="container">
    <div class="box">
      <h3>Why Use This Forum?</h3>
      <p>
        By sharing your experiences with UNC Charlotte professors, you can help
        other students find the best professors for their needs. Plus, you can
        benefit from reading reviews by other students, too.
      </p>
    </div>
    <div class="box">
      <h3>How to Use This Forum</h3>
      <p>
        To get started, create an account and begin researching and writing your
        own reviews.
      </p>
    </div>
    <div class="box">
      <h3>About UNC Charlotte</h3>
      <p>
        UNC Charlotte is a public research university in Charlotte, North
        Carolina. With over 30,000 students and more than 400 degree programs,
        UNC Charlotte is the largest university in the Charlotte region.
      </p>
    </div>
  </div>
</section>

{% endblock content %}
